* {
    margin: 0;
    margin-top: 10px;

}

ul{
    display: flex;
    justify-content: flex-end; 
    list-style: none;
    margin-right:10px ;           
}
a {
    text-decoration: none;
    background: white;
    color: #000;
}
li{
    margin-top: -2.5rem;    
    margin-left: 20px;
    font-size: 1.5rem; 
}
.container{
    background-color: #e7e7e7;
}
    
h1{
   /* margin-top: 10px; */
}
